# Visual Studio 빌드 결과물 및 임시 폴더
x64/
Debug/
Release/

# 컴파일 임시/바이너리 파일
*.obj
*.ilk
*.idb
*.pdb
*.log
*.tlog

# 모든 파일/폴더 일단 무시
*

# 예외적으로 Git에 추적(유지)할 파일들만 허용 (!)
!.gitignore
!README.md
!main.cpp
!cumian.cu
